*{
  margin: 0 auto;
}

html{
  font-family: 'Neutraface2Text', sans-serif;

}
body{
  width: 100%;
  background:url(../images/backgroundoralbv2.png);
  background-size:100%;
  overflow-x: hidden;
}
/****************************************
            HEADER
****************************************/
.container{
  width: 1000px;
  margin: 0 auto;
}
.header{
  height: 57px;
  color:#FFF;
  border-bottom: 1.2px #FFF solid;
  width: 100%;
  position: fixed;
  font-weight:500;
  z-index: 10;
}
.header_div{
  padding-top:7px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin-left:5%;
  margin-right:25%
}
.header_logo{
  width: 124px;
  margin: 0;
}
.header_bouton{
  background: #FFF;
  color: black;
  text-decoration: none;
  margin: 0;
  margin-left: 2px;
  padding: 6px;
  font-size: 88%;
  font-weight: 300;
  border: 0.5px #FFF solid;
  background: #FFF;
  box-shadow: 0 -20px 0px #fff ;
}
.header_menu{
  display: flex;
  list-style: none;
}
.header_menu_element{
  padding: 6px;
}
.header_menu_element:hover {
box-shadow: 0 2px 0 #fff;
}
.header_droite{
  display: flex;
  margin: 0;
  padding:2px;
  justify-content: space-between;

}
.header_menu_lien{
  text-decoration: none;
  color: #FFF;
  margin-left: 6px;
  margin-right: 6px;
}
.header_bouton:hover{
  background: #FFF;
  box-shadow: 0 12px #fff,
   0 -20px #fff;
}
/***********************
MENU HAMBURGER DEROULANT
*************************/

.header_nav2{
  display: none;
}
.header_nav2_sousmenu{
  display: none;}
.header_nav2{
  display: none;
}
.header_nav2_sousmenu{
  display: none;
}
.menuhamburger:hover .header_nav2_sousmenu,.header_nav2_sousmenu:hover{
  position:absolute;
  left:60%;
  top:100%;
  display: flex;
  flex-flow: column wrap;
}
.header_nav2 ul{
  list-style: none;
}
.header_nav2_menuhamburger{
  width: 30px;
  height: auto;
  margin: 0;
  margin-right: 15px;
  margin-top: 7px;
  position: relative;
}
.header_nav2_onglet{
  color:#FFF;
  background: none;
  box-shadow: 0 1px 0px #fff ;
}
.header_nav2_onglet a{
  color: #FFF;
  text-decoration: none;
}
/*********************************

        MAIN

*********************************/

.communication{
  background-color:#001323;
  display: flex;
}

.communication h1{
color: #EF6461;
font-size: 1.6em;
padding-top:4em;
margin-left: 4em;
display: flex;
width: 10em;
}

.communication p{
  color: white;
  opacity:0.9;
  font-size: 1em;
  width: 32em;
  margin-left:-50em;
  text-align: justify;
  padding: 2em ;
  padding-left:28em;
  margin-top:10em;
  margin-bottom:10em;
  display: flex;
  outline: #FFF solid 1px;
}

.communication img{
  height:16em;
  width:35em;
  display: flex;
  margin-top: 8em;
  margin-right:10em;
  display: flex;
}

.qr{
display: flex;
}

.code{
    background-color:rgba(0, 19, 35, 0.64);
    border-radius:20px;
}

.code strong{
  color: WHITE;
}

.containertwi img{
  max-width: 2.3em;
  position: absolute;
  margin-left:-7em;
  margin-top:-0.7em;
}

.contentRS{
  width:auto;
  display: flex;
}
.qr h2{
  color: #EF6461;
  font-weight: 300;
  font-size:2em;
  padding:1em 1.3em;
}

.qr p{
color: #bdc3c7;
padding-top:0em;
font-size:1em;
margin-left:1.5em;
}

.qr img{
width: 12em;
-webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.qr img:hover{
  -webkit-transform: scale(1.3);
  	transform: scale(1.3);
}

.app{
 background-color:rgba(0, 19, 35, 1);
 width:50em;
 height: 15em;
 margin-right:0em;
 margin-left:55em;
 outline: #FFF solid 1px;
 display: flex;
 flex-flow: column;
}

.lapp h2{
color:#EF6461;
font-weight: 300;
font-size:1.8em;
margin-left:32em;
padding-top:5em;
padding-bottom:1em;
}

.app strong{
  color:#FFF;
}

.app img{
  margin-top: 2em;
  margin-left:0em;
  -webkit-transform: scale(1);
	transform: scale(1);
	-webkit-transition: .3s ease-in-out;
	transition: .3s ease-in-out;
}

.app img:hover{
  -webkit-transform: scale(1.3);
  	transform: scale(1.3);
}

.pousse strong{
  color: #FFF;
}

.app p{
  color:#bdc3c7;
  font-size:1.1em;
  margin-top: 1.5em;
  margin-left:3em;
}

.apps{
    height: 3.8em;
    margin-right:2em;
}

.plays{
  height:3.8em;
  margin-right:12em;
}

.app_images{
  display: flex;
  padding-top: 1em;
}

.telgif img{
  height: 27.7em;
  margin-left:30em;
  margin-top:-20em;
}

.infotel{
  width:25em;
  height: 437px;
  background: red;
  margin-left: 115px;
  margin-top: -445px;
  background-color:rgba(255, 255, 255, 0.11);
  border-radius: 20px;
}

.infotel img{
  height: 13em;
  padding-left:5em;
  position: absolute;
  bottom:-49em;

}

.infotel p{
color:#bdc3c7;
  font-size: 0.9em;
padding-top: 1em;
padding-left:5em;
}

.infotel strong{
  color:#fff;
  font-size: 1.4em;
  padding-left:1em;

}
/*********************************

          /MAIN

*********************************/


/***************************************
            FOOTER
  ****************************************/
  footer{
  background-color: #001323;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  padding-right: 280px;
  text-align: center;
  margin-top: 80px;
  }
  .th, td{
  color: white;
  font-size: 12px;
  padding-left: 35px;
  padding-top: 5px;
  text-align: center;
  }
  .td, th{
    color: white;
    padding-left: 35px;
  }
  .th, td img{
    height: 15px;
    display: flex;
    margin-right: 10px;

  }
  table img {
    margin-left: 0;
    padding-left: 15px;
  }
  .alignImg{
    margin-left: -90px;
  }
  td:hover{
  color: #EF6461;
  cursor:pointer;
  }

  /*********************************
              NAV
  *********************************/
  .barre{
    background: rgba(239, 100, 97, 0.73);
    width: auto;
    height: 30px;
  }
   .barre h4{
     color: white;
     text-align: center;
     padding-top: 10px;
     font-size: 12px;
   }

  /****************************************
            FOOTER
  ****************************************/

  /****************************************
            RESPONSIVE
  ****************************************/
  @media screen and (max-width:900px){
    header{
      display:none;
    }
    .container{
      width:auto:
    }
    .app{
      padding: 0;
      margin:0;
      width:13em;
      height:auto;
    }
    .app p{
      font-size:0.5em;
    }
    .app .apps{
      position:absolute;
      left:70%;
      bottom:26.5%;
      margin:0;
      padding:0;
      width:4em;
      height:auto;
    }
    .app .plays{
      position:absolute;
      left:70%;
      bottom:20.5%;
      margin:0;
      padding:0;
      width:4em;
      height:auto;
    }
    .lapp h2{
      margin:2.5em 0 0 1em;
      padding:0em;
      font-size:0.9em;
    }
    img:not(.spe_responsive){
      display:none;
    }
    .communication img{
      display:none;
    }
  .infotel img:not(.spe_responsive){
    display:none;
  }
  .spe_responsive{
    position:absolute;
    max-width:5em;
    left:70%;
  }
  .communication{
    background:none;
    margin-bottom:0; /* tentative de suppression du margin-bottom visible sur l'inspecteur.*/
  }
  .communication h1{
    font-size:1em;
  }
  .communication p{
    font-size:0.5em;
    outline:inherit;
    padding-left:35%;
  }
  .qr h2{
    font-size:1em;
  }
  .qr p{
    font-size:0.5em;
  }
  .infotel{
    height:auto;
    width:auto;
    margin:1em 5em 0 1em;

  }
  .infotel h2{
    font-size:1em;
  }
  .infotel p{
    font-size:0.5em;
  }
  footer{
    display:none;
  }
  .barre{
    display:none;
  }
}
