*{
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  background:url(../images/backgroundoralbv2.png);
  background-size:100%;
}
/****************************************
            HEADER
****************************************/
.container{
  width: 70%;
  margin: 0 auto;
}
.header{
  height: 57px;
  color:#FFF;
  border-bottom: 1.2px #FFF solid;
  width: 100%;
  font-weight: bold;
  z-index: 10;
}
.header_div{
  padding-top:7px;
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.header_logo{
  width: 124px;
  margin: 0;
}
.header_bouton{
  background: #FFF;
  color: black;
  text-decoration: none;
  margin: 0;
  margin-left: 2px;
  padding: 6px;
  font-size: 88%;
  font-weight: 300;
  border: 0.5px #FFF solid;
  background: #FFF;
  box-shadow: 0 -9px 0px #fff ;

}
.header_menu{
  display: flex;
  list-style: none;
}
.header_menu_element{
  padding: 6px;
}
.header_menu_element:hover {
box-shadow: 0 2px 0 #fff;
}
.header_droite{
  display: flex;
  margin: 0;
  padding: 2px;
}
.header_menu_lien{
  text-decoration: none;
  color: #FFF;
}
.header_bouton:hover{
  background: #FFF;
  box-shadow: 0 10px 0 #fff;
}
/***********************
MENU HAMBURGER DEROULANT
*************************/
.header_nav2{
  display: none;
}
.header_nav2_sousmenu{
  display: none;
}
.menuhamburger:hover .header_nav2_sousmenu,.header_nav2_sousmenu:hover{
  position:absolute;
  left:60%;
  top:100%;
  display: flex;
  flex-flow: column wrap;
}
.header_nav2 ul{
  list-style: none;
}
.header_nav2_menuhamburger{
  width: 30px;
  height: auto;
  margin: 0;
  margin-right: 15px;
  margin-top: 7px;
  position: relative;
}
.header_nav2_onglet{
  color:#FFF;
  background: none;
  box-shadow: 0 1px 0px #fff ;
}
.header_nav2_onglet a{
  color: #FFF;
  text-decoration: none;
}
/***********************
/MENU HAMBURGER DEROULANT
*************************/
/****************************************
            /HEADER
****************************************/
main{
  margin-top: 1.6%;;
}
.column_droite{
  background: rgba(2,89,184,0.2);
  width: 40%;
  height: 600px;
  margin: 0;
  border-radius: 5px;
  position: relative;
  color:#FFF;
}
.column_droite h4{
  color: gold;
  text-align: center;
  padding-top: 3%;
  font-size: 2em;
  padding-bottom: 5%;
  font-family: 'Poppins', sans-serif;
}
.column_droite h2 span{
  color: gold;
}
.column_droite a{
  color: white;
}
.column_droite h2{
  text-align: center;
  padding-top: 1%;
  font-size: 0.75em;
  font-family: 'Poppins', sans-serif;
  text-align:center;
  padding-bottom: 5%;
}
.column_droite h3{
  text-align: center;
  padding-top: 1%;
  font-size: 0.5em;
  font-family: 'Poppins', sans-serif;
}
.column_droite p{
  text-align: center;
  margin: 0;
  font-size: 1.2em;
  font-family: 'neutraface2';
}
.form_brosse input{
display: block;
margin-bottom: 10px;
}
.inputb{
  border: 0.5px solid black;
  border-radius: 5px;
  padding: 2%;
  width: 62%;
  transition: all 0.5s ease;
}
.input_image1{
  height: 4%;
  position: absolute;
  top:58.8%;
  left: 14.5%;
}

.input_image2{
  height: 4%;
  position: absolute;
  top:66%;
  left: 14.5%;
}
.inputb:hover{
  background-color: black;
  color: white;
}
.bouton{
width:80px;
padding: 5px;
}
.form_brosse input[type=submit]{
  border-radius: 150px;
}
.form_brosse input[type=submit]:hover{
  background-color: black;
  color:white;
}
.main_container{
  display: flex;
  justify-content: space-between;
}
.main_container form{
  margin-top: 8%;
  margin-left: 25px;
}
.column_gauche{
  background: rgba(2,89,184,0.2);
  width: 57%;
  height: 600px;
  color:#FFF;
  margin: 0;
}
.column_gauche img{
  max-width: 20%;
  margin-bottom: 60px;
  margin-top: 55px;
}
.column_gauche form div select{
  padding: 10px;
  width: 89%;
}
.column_gauche_cadre{
  width: 89%;
  height:57%;
  margin-top: 20px;
  background:black;
  display: flex;
  align-items: center;
}
.barrebas{
  width: 70%;
  height: 200px;
  margin-top: 30px;
  background: rgba(2,89,184,0.2);
  color:#FFF;
  display: flex;
  align-items: center;
}
.choixcouleurs{
  padding:10px;
  margin-left:3.4%;
}
.choixcouleurs_liste{
  display: flex;
}
.choixcouleurs_noir span{
  margin: 0
}
.choixcouleurs_noir_carré{
  height: 60%;
  width: 60%;
  background: black;
  color:black;
  margin: 0;
}
.choixcouleurs_rose_carré{
  height: 50%;
  width: 50%;
  background: pink;
  color:pink;
  margin: 0;
}
.choixcouleurs_violet_carré{
  height: 50%;
  width: 50%;
  background: purple;
  color:purple;
  margin: 0;
}
.choixcouleurs_blanc_carré{
  height: 50%;
  width: 50%;
  background: #FFF;
  color:#FFF;
  margin: 0;
}
  /***************************************
            FOOTER
  ****************************************/
  footer{
    background-color: #001323;
  padding-bottom: 25px;
  padding-top: 25px;
  display: flex;
  padding-right: 280px;
  text-align: center;
  margin-top: 30px;
  }
  .th, td{
  color: white;
  font-size: 12px;
  padding-left: 35px;
  padding-top: 5px;
  text-align: center;
  }
  .td, th{
    color: white;
    padding-left: 35px;
  }
  .th, td img{
    height: 15px;
    display: flex;
    margin-right: 10px;
  }
  table img {
    margin-left: 0;
    padding-left: 15px;
  }
  .alignImg{
    margin-left: -90px;
  }
  td:hover{
  color: #087bb4;
  cursor:pointer;
  }
  /*********************************
              NAV
  *********************************/
  .barre{
    background: #087bb4;
    width: auto;
    height: 30px;
  }
   .barre h4{
     color: white;
     text-align: center;
     padding-top: 10px;
     font-size: 12px;
   }
  /****************************************
            FOOTER
  ****************************************/
