*{
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  width: 100%;
  background:url(../images/backgroundoralbv2.png);
  background-size:100%;
}
/****************************************
            HEADER
****************************************/
.container{
  width: 70%;
  margin: 0 auto;
}
.header{
  height: 57px;
  color:#FFF;
  border-bottom: 1.2px #FFF solid;
  width: 100%;
  font-weight:500;
  z-index: 10;
}
.header_div{
  padding-top:7px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin-left:5%;
  margin-right:25%
}
.header_logo{
  width: 124px;
  margin: 0;
}
.header_bouton{
  background: #FFF;
  color: black;
  text-decoration: none;
  margin: 0;
  margin-left: 2px;
  padding: 6px;
  font-size: 88%;
  font-weight: 300;
  border: 0.5px #FFF solid;
  background: #FFF;
  box-shadow: 0 -20px 0px #fff ;
}
.header_menu{
  display: flex;
  list-style: none;
}
.header_menu_element{
  padding: 6px;
}
.header_menu_element:hover {
box-shadow: 0 2px 0 #fff;
}
.header_droite{
  display: flex;
  margin: 0;
  padding:2px;
  justify-content: space-between;

}
.header_menu_lien{
  text-decoration: none;
  color: #FFF;
  margin-left: 6px;
  margin-right: 6px;
}
.header_bouton:hover{
  background: #FFF;
  box-shadow: 0 12px #fff,
   0 -20px #fff;
}
/***********************
MENU HAMBURGER DEROULANT
*************************/

.header_nav2{
  display: none;
}
.header_nav2_sousmenu{
  display: none;}
.header_nav2{
  display: none;
}
.header_nav2_sousmenu{
  display: none;
}
.menuhamburger:hover .header_nav2_sousmenu,.header_nav2_sousmenu:hover{
  position:absolute;
  left:60%;
  top:100%;
  display: flex;
  flex-flow: column wrap;
}
.header_nav2 ul{
  list-style: none;
}
.header_nav2_menuhamburger{
  width: 30px;
  height: auto;
  margin: 0;
  margin-right: 15px;
  margin-top: 7px;
  position: relative;
}
.header_nav2_onglet{
  color:#FFF;
  background: none;
  box-shadow: 0 1px 0px #fff ;
}
.header_nav2_onglet a{
  color: #FFF;
  text-decoration: none;
}
/****************************************
            /HEADER
****************************************/
main{
  margin-top: 1.6%;
  position: relative;
  display: flex;
  overflow:hidden;
  margin-left: 160px;
}

.slides1{
  width:87%;
  margin:0;
  margin-left: 1%;
 background: rgba(0, 19, 35, 0.91);
  padding: 19px;
  position: relative;
  margin-right: 0;
}
.slider_image1{
  width: 80%;
  height: auto;
}
.slider_flechedroite{
  width: 4.3%;
  opacity: 0.5;
  position: absolute;
  top:43%;
  right: 9%;
}
.slider_flechegauche{
  width: 4.3%;
  opacity: 0.5;
  position: absolute;
  top:43%;
  left: 9%;
}
.contenu_sur{
  color:#FFF;
  position: absolute;
  top:1%;
  left: 45%;
}
.contenu_sur_image1{
  width: 37%;

}
.contenu_sur_image2{
  width: 15.3%;
}
.contenu_sur_texte{
  margin-top: 10px;
  margin-left: 13px;
  font-size: 0.9em;
}
.contenu_droite{
  color:#FFF;
  margin-top: 15%;
  margin-right:20%;
}
.mdp1{
padding-left: 15px;
}
.contenu_droite_texte{
  padding-bottom: 10px;
  box-shadow: 0 0.5px 0px #fff ;
}
.contenu_droite_titre{
  font-size: 2.2em;
  margin-top: 9px;
}
.contenu_droite_formulaire{
  margin-top: 10px;
  width: 320px;
}
input:hover{
  background:black;
  color:#FFF;
}

.contenu_sur_texte span{
  color: white;
  text-transform: none;

}
.contenu_droite_formulaire div{

}


.form_endbutton {
  color:#FFF;
  height: 40px;
  width: 49%;
  background: black;
  border:0.1px #FFF solid;
  margin-top:9%;
}

.droite_formulaire_block{
  display: flex;
}
.formulaire_conditions{
  font-size: 0.55em;
  margin-bottom: 4%;
}
.formulaire_conditions span{
  text-transform: none;
  color: white;
}

.contenu_droite_formulaire caption{
  margin-bottom: 4%;
}
.formulaire_contenu1 div{
  width: 380px;
  font-size: 0.8em;
    margin:20px;
    margin-left: 0;
}
.formulaire_bas{
  margin-top: 10%;
}
.formulaire_contenu1_ecart1{
  margin-left: 25px;
}
.formulaire_contenu1_ecart2{
  margin-left: 49px;
}
.form_endbutton:hover{
 background-color: #EF6461;
}
.contenudroite_reseaux_container{
  display: flex;
}


.contenudroite_reseaux{
  margin-top: 12%;
  background: #001323;
  width: 100%;
  margin-top: 2%;
  padding-bottom: 50px;
  color: #bdc3c7;
  position: relative;
}
.reseaux_droite{
  width: 80%;
  font-size:0.82em;
  position: absolute;
  top:0;
  left:50%;
  overflow: hidden;
}
.reseaux_droite p{
  width: 400px;
}
.contenudroite_reseaux p{
  font-size:0.82em;
}
.contenu_droite_reseaux_site{
padding-top: 15px;
  margin-top: 16px;
}
.contenu_droite_reseaux_site img{
  width: 17%;
  margin-right: 490px;
  margin-left: 15px;
}
.contenu_droite_reseaux_site p{
  margin-right: 0;
  margin-left: 0;
}
.spacecode{
padding-top: 20px;
color : #bdc3c7;
}
.contenu_droite_reseaux_logos{
}

.contenu_droite_reseaux_logos img{
  width: 37px;
  margin: 10px;
}
.contenudroite_reseaux h3{

  margin-bottom: 18px;
}
.contenudroite_reseaux p{
  width: 44%;
  margin-left: 0;
}
.reseaux_image_event{

  margin-top: 10px;
  height: 100%;
  overflow: hidden;
  position: relative;
}
.contenu_logo_site_container{
  display: flex;
}
.reseaux_image_event img{
  width: 42%;
}
.image_event_textsur{
  width: 100px;
  margin-right: 3px;
  position: absolute;
  bottom:5px;
  right:50%;
  font-size: 0.6em;
  color:black;
  font-weight: bolder;
}
.reseaux_droite a{
font-size: 13px;
}

.reseaux_droite_lien{
  color: white;
  font-size: 1.7em;
}
.reseaux_droite a{
  text-decoration:none;
  color:#FFF;
  margin-top: 30px;
  font-size: 0.7em;
}

.contenu_droite_details{
  margin-top:7px;
  background: #001323;
}
.contenu_droite_details>p{
  padding-top: 40px;
  font-size: 1.07em;
  margin-top: 10px;
}
}
.contenu_droite_details_liste{
  color:grey;
  opacity: 0.8;
  margin-top:20px;
  font-size: 0.72em;
}
/***************************************
            FOOTER
  ****************************************/
  footer{
  background-color: #001323;
  padding-top: 25px;
  padding-bottom: 25px;
  display: flex;
  padding-right: 280px;
  text-align: center;
  margin-top: 80px;
  }
  .th, td{
  color: white;
  font-size: 12px;
  padding-left: 35px;
  padding-top: 5px;
  text-align: center;
  }
  .td, th{
    color: white;
    padding-left: 35px;
  }
  .th, td img{
    height: 15px;
    display: flex;
    margin-right: 10px;

  }
  table img {
    margin-left: 0;
    padding-left: 15px;
  }
  .alignImg{
    margin-left: -90px;
  }
  td:hover{
  color: #EF6461;
  cursor:pointer;
  }
  /*********************************
              NAV
  *********************************/
  .barre{
    background: rgba(239, 100, 97, 0.73);
    width: auto;
    height: 30px;
  }
   .barre h4{
     color: white;
     text-align: center;
     padding-top: 10px;
     font-size: 12px;
   }

  /****************************************
            FOOTER
  ****************************************/
