*{
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
body{
  background: url(../images/backgroundoralbv2.png) ;
  background-size:100%;

  overflow-x:hidden;
}

/****************************************
            HEADER
****************************************/
.container{
  width: 1000px;
  margin: 0 auto;
}
.header{
  height: 57px;
  color:#FFF;
  border-bottom: 1.2px #FFF solid;
  width: 100%;
  position: fixed;
  font-weight: bold;
  z-index: 1;
}
.header_div{
  padding-top:7px;
  display:flex;
  justify-content:space-between;
  align-items: center;
}
.header_logo{
  width: 124px;
  margin: 0;
}
.header_bouton{
  background: #FFF;
  color: black;
  text-decoration: none;
  margin: 0;
  margin-left: 2px;
  padding: 6px;
  font-size: 88%;
  font-weight: 300;
  border: 0.5px #FFF solid;
}
.header_menu{
  display: flex;
  list-style: none;
}
.header_menu_element{
  padding: 6px;
}
.header_menu_element:hover {
  border-bottom: 1.5px #FFF solid;
}
.header_droite{
  display: flex;
  margin: 0;
  padding: 2px;
}
.header_menu_lien{
  text-decoration: none;
  color: #FFF;
}
.header_bouton:hover{
  background: #FFF;
  color:#0257B8;
  transition: linear 0.68s;
  height: 35px;
}
/***********************
MENU HAMBURGER DEROULANT
*************************/
.header_nav2{
  display: none;
}
.header_nav2_sousmenu{
  display: none;
}
.menuhamburger:hover .header_nav2_sousmenu{
  position:absolute;
  left:60%;
  top:100%;
  display: flex;
  flex-flow: column wrap;
}
.header_nav2 ul{
  list-style: none;
}
.header_nav2_menuhamburger{
  width: 30px;
  height: auto;
  margin: 0;
  margin-right: 15px;
  margin-top: 7px;
  position: relative;
}
.header_nav2_onglet{
  color:#FFF;
  background: #0259B8;
}
.header_nav2_onglet a{
  color: #FFF;
  text-decoration: none;
}
/***********************
/MENU HAMBURGER DEROULANT
*************************/
/****************************************
            /HEADER
****************************************/
/****************************************
            MAIN
****************************************/
/* Menu droite */
.menucotédroit{
  position:fixed;
  pointer-events:all;
  bottom: 54%;
  right: 0;
  z-index: 10;
}
.menucotédroit_contenu{
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  opacity:0.6;
}
.menucotédroit_contenu_item {
  width: 100%;
  border-bottom: 0.5px #FFF solid;
}

.menucotédroit_contenu_item:hover{
  font-weight: 500;
}

.menucotédroit_contenu_item:nth-of-type(1){
  border-top: 0.5px #FFF solid;
}
.menucotédroit_contenu_item a{
  text-decoration: none;
  color:#FFF;
  padding-left: 0;
  font-size: 80%;
}
/*/Menu droite */
.main{
  width: 100%;
  color:#FFF;
  z-index: -1;
  padding-top: 53px;
}
/*toothbrushpart1*/
.toothbrushpart1{
  position: relative;
}
.toothbrush1{
  width: 14%;
  height: auto;
  margin-top: 100px;
  margin-left: 11.5%;
}
.main .slogan{
  position: absolute;
  top:13%;
  left: 30%;
}
.toothbrushpart1_slogan_logo{
  width: 90px;
  height: auto;
}
.toothbrushpart1_slogan_logo:nth-of-type(2){
  width: 50px;
  height: auto;
}
.str{
  background: #FFF;
  color:black;
}
.testgraphique{
  height: 280px;
  background: rgba(34,53,32,0.6);
  width: 520px;
  padding: 20px;
}
.toothbrushpart1_infos{
  margin: 20px;
  margin-left: 0;
  padding: 5px;
  display: flex;
  position: absolute;
  top:33%;
  left:30%;

}
.toothbrushpart1_infos p{
  width: 240px;
  margin-left: 20px;
}
/*/toothbrushpart1*/
/*toothbrushpart2*/
.toothbrushpart2{
  margin-top: 300px;
  position: relative;
}
.toothbrushpart2_image{
  width: 40%;
  margin-left:60%;
  margin-bottom: 400px;
}
.toothbrushpart2_texte{
  max-width: 40%;
  position: absolute;
  top:0%;
  left:18%;
}
.toothbrushpart2_infos{
  position: absolute;
  top:24%;
  right: 43.2%;
}
/*/toothbrushpart2*/
/*toothbrushpart3*/
.toothbrushpart3{
  position: relative;
  margin-bottom:350px;
}
.toothbrushpart3_image{
  width: 14.5%;
  margin-left: 24%;
}
.toothbrushpart3_texte{
  max-width: 37%;
  position: absolute;
  top:38%;
  left:45%;
}
/* /toothbrushpart3*/
/*toothbrushpart4*/
.toothbrushpart4{
  position: relative;
  padding-bottom: 300px;
}
.toothbrushpart4_image{
  margin-left: 68%;
  position: relative;
}
.toothbrushpart4_image_1{
  width: 30%;
}
.toothbrushpart4_image_2{
  width: 32%;
  position: absolute;
  top:94%;
  left:-0.9%;
}
.toothbrushpart4_texte{
  width: 40%;
  position: absolute;
  top:22%;
  left:30%;
}
/*toothbrushpart4*/
/****************************************
            /MAIN
****************************************/
/****************************************
          FOOTER
****************************************/
footer{
  background-color: #0259B8;
padding-bottom: 25px;
padding-top: 25px;
display: flex;
padding-right: 280px;
text-align: center;
}
.th, td{
color: white;
font-size: 12px;
padding-left: 35px;
padding-top: 5px;
text-align: center;
}
.td, th{
  color: white;
  padding-left: 35px;
}
.th, td img{
  height: 15px;
  display: flex;
  margin-right: 10px;

}
table img {
  margin-left: 0;
  padding-left: 15px;
}
.alignImg{
  margin-left: -90px;
}
td:hover{
color: black;
cursor:pointer;
}
/*********************************
            NAV
*********************************/
.barre{
  background: black;
  width: auto;
  height: 30px;
}
 .barre h4{
   color: white;
   text-align: center;
   padding-top: 10px;
   font-size: 12px;
 }
/****************************************
            /FOOTER
****************************************/
