*{
  margin: 0 auto;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}
html{
  scroll-behavior: smooth;
}
body{
  background: url(../images/backgroundoralbv2.png) ;
  background-size:100%;
  overflow-x:hidden;
}
/****************************************
            HEADER
****************************************/
.container{
  margin: 0 auto;
}
.header{
  height: 57px;
  color:#FFF;
  border-bottom: 1.2px #FFF solid;
  width: 100%;
  position: fixed;
  font-weight:500;
  z-index: 10;
}
.header_div{
  padding-top:7px;
  display:flex;
  justify-content:space-between;
  align-items: center;
  margin-left:5%;
  margin-right:25%
}
.header_logo{
  width: 124px;
  margin: 0;
}
.header_bouton{
  background: #FFF;
  color: black;
  text-decoration: none;
  margin: 0;
  margin-left: 2px;
  padding: 6px;
  font-size: 88%;
  font-weight: 300;
  border: 0.5px #FFF solid;
  background: #FFF;
  box-shadow: 0 -20px 0px #fff ;

}
.header_menu{
  display: flex;
  list-style: none;
}
.header_menu_element{
  padding: 6px;
}
.header_menu_element:hover {
box-shadow: 0 2px 0 #fff;
}
.header_droite{
  display: flex;
  margin: 0;
  padding:2px;
  justify-content: space-between;

}
.header_menu_lien{
  text-decoration: none;
  color: #FFF;
}
.header_bouton:hover{
  background: #FFF;
  box-shadow: 0 12px #fff,
   0 -20px #fff;

}
/***********************
MENU HAMBURGER DEROULANT
*************************/

.header_nav2{
  display: none;
}
.header_nav2_sousmenu{
  display: none;}
.header_nav2{
  display: none;
}
.header_nav2_sousmenu{
  display: none;
}
.menuhamburger:hover .header_nav2_sousmenu,.header_nav2_sousmenu:hover{
  position:absolute;
  left:60%;
  top:100%;
  display: flex;
  flex-flow: column wrap;
}
.header_nav2 ul{
  list-style: none;
}
.header_nav2_menuhamburger{
  width: 30px;
  height: auto;
  margin: 0;
  margin-right: 15px;
  margin-top: 7px;
  position: relative;
}
.header_nav2_onglet{
  color:#FFF;
  background: none;
  box-shadow: 0 1px 0px #fff ;
}
.header_nav2_onglet a{
  color: #FFF;
  text-decoration: none;
}
/***********************
/MENU HAMBURGER DEROULANT
*************************/
/****************************************
            /HEADER
****************************************/
/****************************************
            MAIN
****************************************/
/* Menu droite */
.menucotédroit{
  position:fixed;
  pointer-events:all;
  bottom: 60%;
  right: 0;
  z-index: 10;
}
.menucotédroit_contenu{
  display: flex;
  flex-flow: column wrap;
  list-style: none;
  opacity:0.6;
}
.menucotédroit_contenu_item {
  width: 100%;
  border-bottom: 0.5px #FFF solid;
  padding-right: 1em;
}

.menucotédroit_contenu_item:hover{
  font-weight: 500;
  color:rgba(0, 0, 0, 1);
}

.menucotédroit_contenu_item:nth-of-type(1){
  border-top: 0.5px #FFF solid;
}
.menucotédroit_contenu_item a{
  text-decoration: none;
  color:#FFF;
  padding-left: 0;
  font-size: 80%;
}
/*/Menu droite */
.main{
  width: 100%;
  color:#FFF;
  z-index: -1;
  padding-top: 53px;
}
/*toothbrushpart1*/
.toothbrushpart1{
  position: relative;
}
.toothbrush1{
  width: 14%;
  height: auto;
  margin-top: 100px;
  margin-left: 11.5%;
}
.main .slogan{
  position: absolute;
  top:20%;
  left:8%;
  padding-left:20em;

}
.toothbrushpart1_slogan_logo{
  width: 92px;
  height: auto;
}
.toothbrushpart1_slogan_logo:nth-of-type(2){
  width: 50px;
  height: auto;
}
.titre_graph{
  position: absolute;
  padding-bottom:0.2em;
  left:2%;
  top:5%;
}
h4{
  font-weight:400;
  font-size: 1,7em;
}
.str{
  background: #FFF;
  color:black;
}
.testgraphique{
  height: 280px;
  background: rgba(34,53,32,0);
  width: 520px;
  position: relative;
}
.copyright{
  position: absolute;
  top:100%;
  font-size:0.8em;
}
.scroll_graph1{
  max-width:85%;
  margin-top:3em;
  left:-0.3%;
}
.border_graph{
  box-shadow:-1px 0 #FFF;
}
.toothbrushpart1_infos{
  margin: 20px;
  margin-left: 0;
  padding: 5px;
  display: flex;
  position: absolute;
  top:33%;
  left:30%;
}
.toothbrushpart1_infos p{
  padding-top:5em;
  width: 200px;
  font-size: 0.8em;
}
.scroll_normaltext_right{
  padding-top:1%;
}

.scroll_normaltext_left{
  padding-top:1%;
}
/*/toothbrushpart1*/
/*toothbrushpart2*/
.toothbrushpart2{
  margin-top: 5%;
  position: relative;
}
.toothbrushpart2_image{
  width: 40%;
  margin-left:60%;
}
.toothbrushpart2_texte{
  max-width: 40%;
  position: absolute;
  top:15%;
  left:18%;
}
.toothbrushpart2_infos{
  position: absolute;
  top:24%;
  right: 43.2%;
}
}
.img_tete_brosse{
  max-width:25%;
  position: absolute
}
/*.container_2{
  position: relative;
  height:20em;
  text-align: center;
  display:flex;
  justify-content: center;
}
.pos_video{
  position: absolute;
  padding-bottom:20em;
}
.titre_video{
  position: absolute;
  top:5%;
  left:45%;
}*/

/*/toothbrushpart2*/
/*toothbrushpart3*/
.toothbrushpart3{
  position: relative;
  margin-bottom:100px;
}
.toothbrushpart3_image{
  width: 12%;
  margin-left: 18%;
}
.toothbrushpart3_texte{
  max-width: 25%;
  position: absolute;
  top:25%;
  left:39%;
}
.toothbrushpart3_infos{
  color:red;
}
/* /toothbrushpart3*/
/*toothbrushpart4*/
.toothbrushpart4{
  position: relative;
  padding-bottom:5%;
}
.toothbrushpart4_image{
  margin-left: 68%;
  position: relative
}
.toothbrushpart4_brosse{
  width: 30%;
  z-index:3;
  position:relative;
}
.toothbrushpart4_chargeur{
  width: 30%;
  position: absolute;
  top:94%;
  left:0.6%;
  z-index:inherit;
}
.graph2{
  margin-top:4%;
  max-width:85%;
}
.toothbrushpart4_texte{
  width:40%;
  position:absolute;
  bottom:-160%;
  left:25%;
}
.toothbrushpart4_infos{
  position: absolute;
  top:120%;
  left: 0;
}
/*toothbrushpart4*/
/*Achat brossettes*/
.brossette{
  position: relative;
  padding-bottom:5%;
}
/*Achat brossettes*/
/*Préco_garde*/
.préco_garde{
  position: relative;
  padding-bottom: 5%;
  text-align: center;
}
.préco_garde span{
  font-weight: 500;
}
.préco_garde span:hover{
  cursor:pointer;
  background:#fff;
  color:black;
}
/*Préco_garde*/

/****************************************
            /MAIN
****************************************/
/****************************************
          FOOTER
****************************************/
footer{
  background-color: #0259B8;
padding-bottom: 25px;
padding-top: 25px;
display: flex;
padding-right: ;
text-align: center;
}
.th, td{
color: white;
font-size: 12px;
padding-left: 35px;
padding-top: 5px;
text-align: center;
}
.td, th{
  color: white;
  padding-left: 35px;
}
.th, td img{
  height: 15px;
  display: flex;
  margin-right: 10px;

}
table img {
  margin-left: 0;
  padding-left: 15px;
}
.alignImg{
  margin-left: -90px;
}
td:hover{
color: black;
cursor:pointer;
}
/*********************************
            NAV
*********************************/
.barre{
  background: black;
  width: auto;
  height: 30px;
}
 .barre h4{
   color: white;
   text-align: center;
   padding-top: 10px;
   font-size: 12px;
 }
/****************************************
            /FOOTER
****************************************/
