@media screen and (max-width:1000px){
  .container{
    width: 660px;
  }
  .menucotédroit_contenu_item a{
    font-size: 60%;
  }
  .toothbrush1,.toothbrushpart2_image,.toothbrushpart3_image,.toothbrushpart4_image_1,.toothbrushpart4_image_2{
    min-width: 112px;
  }
  .testgraphique{
    width: 80%;
  }
  .toothbrushpart2{
    margin-top: 14%;
    position: relative;
  }
  .toothbrushpart3{
    margin-top: 12%;
  }
  .toothbrushpart4{
    margin-top: 20%;
  }
  .graph2_place{
    position: absolute;
    top:120%;
  }
  main{
    font-size: calc(80%);
  }
  .preco_garde{
    margin-top: 20px;
  }

}

@media screen and (max-width:660px){
  .container{
    width: 100%;
  }
  .header_nav{
    display: none;
  }
  .header_nav2{
    display: block;
  }
  .menucotédroit_contenu_item a{
    font-size: 39%;
    padding: 4%;
  }
  .toothbrush1,.toothbrushpart2_image,.toothbrushpart3_image,.toothbrushpart4_image_1,.toothbrushpart4_image_2{
    min-width: 112px;
  }
  .testgraphique{
    display: block;
  }
  .toothbrushpart1_infos{
    display: block;
  }
  .menucotédroit{
    display: none;

  }
  .toothbrushpart2{
    margin-top: 60%;
    position: relative;
  }
  .toothbrushpart3{
    margin-top: 35%;
  }
  .toothbrushpart4{
    margin-top: 50%;
  }
  .slides1{
    width: 40%;
  }

}
@media screen and (max-width:800px){
  .toothbrushpart4_texte{
    po
  }
}
