@media screen and (max-width:1000px){
  .container{
    width: 660px;
  }
  .menucotédroit_contenu_item a{
    font-size: 60%;
  }
  .toothbrush1,.toothbrushpart2_image,.toothbrushpart3_image,.toothbrushpart4_image_1,.toothbrushpart4_image_2{
    min-width: 112px;
  }
}
@media screen and (max-width:660px){
  .container{
    width: 100%;
  }
  .header_nav{
    display: none;
  }
  .header_nav2{
    display: block;
  }
  .menucotédroit_contenu_item a{
    font-size: 39%;
    padding: 4%;
  }
  .toothbrush1,.toothbrushpart2_image,.toothbrushpart3_image,.toothbrushpart4_image_1,.toothbrushpart4_image_2{
    min-width: 112px;
  }
  .testgraphique{
    display: block;
  }
}
